---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";
---

<Layout title="Frontsome.">
  <main>
    <Header
      body="<div class='text-center'>Welcome to Frontsome, shipping zero js to the client.</div>"
      center="true"
    />
    <ul role="list" class="link-card-grid">
      <Card
        href="/blog/create-an-npm-module"
        title="Create an npm module"
        body="Learn how to create and publish your first npm module"
      />
      <Card
        href="/blog/getting-started-with-sveltekit"
        title="Getting started with Sveltekit"
        body="Quickstart guide to the fullstack javascript framework"
      />
      <Card
        href="/blog/alpinejs-server-side-rendering"
        title="Alpine.js server-side rendering"
        body="I created an NPM module that allows you to SSR your Alpine.js apps"
      />
      <Card
        href="/blog/edge-template-engine"
        title="Edge template engine"
        body="Template engine developed specifically for the edge"
      />
    </ul>
  </main>
</Layout>
